html {
  height: 100%;
}

body {
  background-size: 100% 100%;
  overflow: auto;
  p,
  h1,
  h2,
  h3,
  ul,
  li {
    font-family: "Akzidenz-Grotesk BQ";
    cursor: default;
  }
  input[type="text"],
  textarea {
    font-family: "Akzidenz-Grotesk BQ";
  }
  button {
    font-family: "Akzidenz-Grotesk BQ";
    cursor: pointer;
  }
}
